<center><button type="button" id="postProduct"> Post new product </button></center>
<hr>
<!-- <h2>Search: <input class="typeahead tt-query" name="typeahead" type="text" /> </h2> -->
<br></br>

<!-- <br></br> -->

<!-- <br></br> -->
<!-- <hr> -->
<br>
	
<!-- </br> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
  <script>
    $('#postProduct').on('click', function() {
    	window.location.href = '/productForm';
    });
  </script>

{{#if tag}}
<h2>{{tag}}:</h2> 
{{else}}
<center><p> This website will allow people to sell and purchase items. </p></center>

<center><h1>Items for sale</h1></center>
{{/if}}


{{#each data}}	
<article>
	<center><h2 class="title">{{this.name}}</h2> </center>
	<br>
	
	<div class="content">
		{{#if this.reviews}}

			<center><p> {{this.name}} </p></center>
			<hr>
			<u><h2 class="title">{{{this.reviews.[0].title}}}</h2></u> <strong>Rating: {{this.reviews.[0].rating}} / 10</strong><br></br>
			<i>{{{this.reviews.[0].comment}}}</i>
			<br>

		{{else}}
			No reviews for this Product yet :( 
		{{/if}}
	    
	</div>
	<br>

	<div> 
		<center> <a href="/products/{{this.id}}"><button type="button">View Product Page</button></a> </center>
	</div>	


	
</article>
{{else}}

<article>
    <h1>There are no products posted yet. :(</h1>
    <a href="/productForm">Be the first to post a product!</a>
</article>
{{/each}}
<hr>

