{{#if product}}
<center><button type="button" id="postReview">Add a review</button></center>
<hr>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script>
    $('#postReview').on('click', function() {
      window.location.href = '/products/{{product.id}}/reviewForm';
    });
  </script>
  <article>
  <center><h2 class="title">{{product.name}}</h2> </center>
  <br>
  
  <div class="content">
      <center><strong>Condition: {{product.condition}}</strong><br><i>Price: ${{product.price}}</i></center>
      <hr>
      <center><u><h2 class="title">{{product.description}}</h2></u></center> <br></br>
      <br>
  </div>
  <br>
  <div>
      <center><button type="button" id="visitUser">Go to seller page</button></center>
  </div>
  <script>
    $('#visitUser').on('click', function() {
      window.location.href = '/user/{{product.poster}}';
    });
  </script>
</article>
  <center><u><h1>{{product.name}} reviews</h1> </u></center>
  <br></br>

{{else}}
<center></center><h2>Reviews:</h2> </center>
{{/if}}

{{#each review}}
<article>
	<center><h2 class="title">{{this.title}}</h2> </center> 
  <br></br>
  <center><strong>Score: {{this.rating}} / 5</strong> </center>
	<br></br>
	<div class="content">
	    {{this.comment}}
	</div>
  <br></br>
  <div>
      <center>By: {{this.author}}</center>
  </div>
</article>
{{else}}

<article>
    <center><h1>No reviews have been posted!</h1></center>
</article>
{{/each}}